
.nav-secondary {
	text-align: left;
	width: 100%;
	height: 8.5rem;
	text-align: center;

	#quadmenu {
		background: $black;

		.quadmenu-dropdown-menu {
			width: 760px !important;
			margin: auto;

			.quadmenu-row {
			}
		}


		.quadmenu-navbar-nav {

			.quadmenu-item-content {
				font-size: 1.5rem;
				text-transform: uppercase;
				font-weight: 500;
				letter-spacing: .075em;
			}

			li {
				margin-top: 1.2rem;
			}

			li:first-child {
				a .quadmenu-item-content {
					padding-left: 0;
				}
			}
		}

		.quadmenu-navbar-header {
			width: 100%;
			font-size: 200px;

			.quadmenu-navbar-brand {
				display: none;
			}
		}
	}
}


.menu {
	font-weight: 500;
}
