
/* ## Directory Of Everything 
--------------------------------------------- */

.directory-item,
.directory-widget,
.directory-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a {
		display: block;
		min-height: 100%;
	}

	img {
		height: auto;
		width: 100%;
		display: block;
	}
}

.directory-widget {
	flex-flow: column nowrap;
	align-items: flex-start;
	width: 100%;
}


.directory-sidebar {
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content:space-around;

	width: 100%;

	div {
		margin: 0px;
		text-align: left;
		margin: 0 0 1vw 0;
	}
}

.directory-item {
	width: 100%;
	margin: 0 0 1vw;
	text-align: center;
	display: block;

	.title {
		font-size: 1.6vw;
	}

	div {
		margin: 0px;
		text-align: left;
		margin: 0 0 0.2vw 0;
	}

	border-bottom: solid 1px black;
	/*@include breakpoint(xs) {
		width: 48.717948717948715%;
		margin-bottom: 2.564102564102564%;
	}*/
}


.directory-row {
	flex-flow: row nowrap;
	justify-content: flex-start;
	width: 100%;
}

/** DEBUG */

/*.directory-widget {
	background: gray;
}

.directory-item {
	background: green;
	div {
		border: solid 1px red;
	}
}

.directory-row {
	border: 1px dashed black;
}*/

